03_04/step-function/idp-state-machine.json
{
  "Comment": "Document processing workflow",
  "StartAt": "TextractProcessing",
  "States": {
    "TextractProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:YOUR_ACCOUNT_NUMBER:function:testing-textract-lambda:$LATEST",
        "Payload": {
          "bucket.$": "$.bucket",
          "key.$": "$.key"
        }
      },
      "Next": "ComprehendAnalysis",
      "ResultPath": "$"
    },
    "ComprehendAnalysis": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:YOUR_ACCOUNT_NUMBER:function:testing-comprehend-lambda:$LATEST",
        "Payload.$": "$.Payload"
      },
      "Next": "SaveToDynamoDB",
      "ResultPath": "$.comprehendResult"
    },
    "SaveToDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:YOUR_ACCOUNT_NUMBER:function:testing-dynamo-db-lambda:$LATEST",
        "Payload": {
          "body": {
            "textractResult.$": "$.Payload",
            "comprehendResult.$": "$.comprehendResult.Payload"
          }
        }
      },
      "End": true
    }
  }
}
